<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register Page</title>
    <link rel='stylesheet' type='text/css' href='Css/Registerstyle.css'>
</head>
<body>

<div class="register-container">
    <h2>Register</h2>
    <form class="register-form" action="/Project_war_exploded/Register" method="post">
    <label for="username">Username:</label>
        <input type="text" id="username" name="username" required>

        <label for="password">Password:</label>
        <input type="password" id="password" name="password" required>

        <label for="confirmPassword">Confirm Password:</label>
        <input type="password" id="confirmPassword" name="confirmPassword" required>

        <button type="submit">Register</button>
    </form>
</div>

</body>
</html>
